/*Google Webfont - Dosis*/
body {
	width: 1200px;
	/* 속기형 타입 작성 */
	margin: 1.5rem auto;
/*
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
*/
	font: 1rem/1.5 'Helvetica Neue', sans-serif;
/*	font-family: 'Dosis', sans-serif;*/
	/* 1rem = 16px */
/*	font-size: 1rem;  */
	/* 1rem * 1.5 = 1.5rem = 16*1.5 = 24px */
/*	line-height: 1.5; */
/*	font-style: normal;*/
	/* 200, 700 */
/*	font-weight: normal; */
}

body:hover {
	background: linear-gradient(180deg, transparent 97%, orange 97%);
	background-size: 24px 24px;
}

h1,h2,h3,h4,h5,h6, p {
	margin-top: 0;
	/* 
		상대적인 값의 행간을 구하는 공식 
		ceil() 올림 함수
	
		ceil( 글자크기(상대적인값) ÷ 기본 행간(상대적인값) ) × ( 기본 행간(상대적인값) ÷ 글자크기(상대적인값) )
		
		ceil(5.653 / 1.5) ≒ 4
		1.5 / 5.653 -> 0.265345834
		4 * .265345834 = 1.061383336
	*/
	margin-bottom: 1.5rem; /* 16 * 1.5 = 24px; */
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Quicksand';
	font-weight: 300;
	letter-spacing: -0.09em;
/*	word-spacing: 0.18em;*/
}
/* Modular Scale을 반영한 Heading Type Design (Type Scale: 1.414) */
h6 { 
	font-size: 1rem;
	line-height: 1.5;
}
h5 { 
	font-size: 1.414rem; /* x1.414 */ 
	line-height: 1.062;
}
h4 { 
	font-size: 1.999rem; /* x1.414 */ 
	line-height: 1.54;
}
h3 { 
	font-size: 2.827rem; /* x1.414 */ 
	line-height: 1.063;
}
h2 { 
	font-size: 3.998rem; /* x1.414 */ 
	line-height: 1.125562782;
}
h1 { 
	font-size: 5.653rem;  /* x1.414 */
	line-height: 1.062;
}

p {
	font-size: 1rem;
}

.page-headline span {
	color: tomato;
}


.assign-gradient {
	width: 500px;
	height: 500px;
	border: 1px solid;
	background: #fff linear-gradient(90deg, transparent 90%, orange 90%); 
	background-size: 10px 10px;
}


