<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About Page</title>
	<!-- Google Webfont - Quicksand -->
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,700" rel="stylesheet">
	<link rel="stylesheet" href="/css/my-site.css">
</head>
<body>

	<div class="page-container">
		<div class="page-header">
			<h1 class="page-headline">about <span class="marking">&lt;a&gt;</span>Anchor<span class="marking">&lt;/a&gt;</span> Element</h1>
			<p class="page-slogan">This is <span class="marking">About Page</span>. Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum facilis eum animi, odio laudantium. Numquam sequi, distinctio facilis.</p>
		</div>
		
		<!-- 내비게이션 영역 -->
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/views/about.html">About</a></li>
				<li><a href="/views/marketing.html">Marketing</a></li>
				<li><a href="/views/blog.html">Blog</a></li>
				<li><a href="/views/contact.html">Contact</a></li>
			</ul>
		</nav>
		
		<main>
			<img src="http://placehold.it/420x240/000/fff/?text=About" width="420" height="240" alt="About Page">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis cupiditate, quia esse dolorem, soluta beatae! Dolores illo quidem iusto doloribus.</p>
		</main>
		
	</div>
	
	
	
</body>
</html>