<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Marketing Page</title>
	<!-- Google Webfont - Quicksand -->
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,700" rel="stylesheet">
	<link rel="stylesheet" href="../css/my-site.css">
</head>
<body>

	<div class="page-container">
		<div class="page-header">
			<h1 class="page-headline">about <span class="marking">&lt;a&gt;</span>Anchor<span class="marking">&lt;/a&gt;</span> Element</h1>
			<p class="page-slogan">This is <span class="marking">Marketing Page</span>. Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti nihil, nulla et temporibus voluptatum saepe esse est.</p>
		</div>
		
		<!-- 내비게이션 영역 -->
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/views/about.html">About</a></li>
				<li><a href="/views/marketing.html">Marketing</a></li>
				<li><a href="/views/blog.html">Blog</a></li>
				<li><a href="/views/contact.html">Contact</a></li>
			</ul>
		</nav>
		
		<main>
			<img src="http://placehold.it/420x240/000/fff/?text=Marketing" width="420" height="240" alt="Marketing Page">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, ea.</p>
			<p>Animi minus saepe voluptas recusandae accusantium excepturi expedita architecto! Iusto?</p>
			<p>Consectetur laboriosam dolor saepe dignissimos cum aliquid quia minima exercitationem!</p>
			<p>Dolore soluta provident similique ea fuga magnam itaque beatae vel.</p>
			<p>Veritatis asperiores dolores porro necessitatibus, tenetur numquam. Magnam, nemo quas.</p>
			<p>Deserunt voluptate nemo laboriosam laudantium repellendus beatae incidunt tempore, excepturi!</p>
			<p>Facere dolore quo magnam maiores veritatis debitis excepturi quia tempora.</p>
			<p>Modi, nemo omnis officiis in placeat aliquid doloremque saepe sint.</p>
			<p>Laudantium qui incidunt vero doloribus, rem ab facere illo dolorum.</p>
			<p>Adipisci assumenda aperiam laborum, debitis quibusdam impedit odio eius tempora.</p>
		</main>
		
	</div>
	
	
	
</body>
</html>