body {
	margin: 0;
}

.container {
	margin-left: 20%;
	margin-right: 20%;
}

.container div {
    overflow: hidden;
    margin-top: 4rem;
	margin-bottom: 4rem;
}

.fl {
	float: left;
	margin-right: 2rem;
}

.fr {
	float: right;
	margin-left: 2rem;
}

.clear {
	clear: both;
}