@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
/*
	[ 컬러 차트 ]
	
	배경 색상: #009dee
  글씨 색상: #ffffff
	
	리스트 제목 색상: #18526f
	리스트 설명 색상: #939393
	시간 색상: #60beee
	아이콘 색상(기본): #d2d2d2
	아이콘 좋아요 (활성화): #fe51f8
	아이콘 즐겨찾기 (활성화): #ffcc00

*/

body {
	margin: 0;
	background: #009dee;
	color: #fff;
}

.container {
	width: 320px;
	margin: 100px auto 0;
/*	background: #aaa;*/
}

h1 {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}